<a href="https://colab.research.google.com/github/linaoh02/2025-/blob/main/05%EA%B4%80%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt

1)이항관계 예제

In [4]:
A = {1,2,3}
B = {2,3,4}
#A에서 B로 가는 이항 관계 R
R={(1,2), (2,3), (3,2), (3,4)}

print("관계 R:", R)

관계 R: {(2, 3), (3, 2), (1, 2), (3, 4)}

2)관계 행렬 표현

In [5]:
A_list = sorted(A)
B_list = sorted(B)

relation_matrix = np.zeros((len(A_list), len(B_list)), dtype=int)

for i, a in enumerate(A_list):
    for j, b in enumerate(B_list):
        if (a, b) in R:
            relation_matrix[i, j] = 1

print("관계 행렬(rows:A, columus: B):")
print(relation_matrix)

관계 행렬(rows:A, columus: B):
[[1 0 0]
 [0 1 0]
 [1 0 1]]

3) 합성 관계 예제

In [10]:
# R: A-> B
# S: B -> C
C = {'x', 'y'}
S = {(2, 'x'), (3,'y'), (4, 'x')}

#합성 관계 RºS
composed_relation = set()

for (a,b1) in R:
  for (b2, c) in S:
    if b1 == b2:
      composed_relation.add((a,c))
print("\n 합성 관계 R○S: ", composed_relation)

 합성 관계 R○S:  {(1, 'x'), (3, 'x'), (2, 'y')}